In [3]:
import boto3
import pandas as pd
from io import StringIO
import time

In [4]:
AWS_ACCESS_KEY = "AKIA5LPLVSFJOFGPZO6T"
AWS_SECRET_KEY = "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"
AWS_REGION="ap-south-1"
SCHEMA_NAME="covid_dataset"
S3_STAGING_DIR = "s3://ath-de-staging-area/output/"
S3_BUCKET_NAME = "ath-de-staging-area"
S3_OUTPUT_DIRECTORY= "output"

In [5]:
athena_client = boto3.client(
    "athena",
    aws_access_key_id=AWS_ACCESS_KEY,
    aws_secret_access_key=AWS_SECRET_KEY,
    region_name=AWS_REGION,
    )

#### Querying data from Athena into pandas DF

In [6]:
Dict = {}
def download_and_load_query_results(client:boto3.client, query_response:Dict
                                    ) -> pd.DataFrame:
    while True:
        try:
            client.get_query_results(
                QueryExecutionId=query_response['QueryExecutionId']
            )
            break
        except Exception as err:
            if "not yet finished" in str(err):
                time.sleep(0.001)
            else:
                raise err
    temp_file_location: str = "athena_query_results.csv"
    s3_client = boto3.client(
        's3',
        aws_access_key_id=AWS_ACCESS_KEY,
        aws_secret_access_key=AWS_SECRET_KEY,
        region_name=AWS_REGION,
    )
    s3_client.download_file(
        S3_BUCKET_NAME,
        f"{S3_OUTPUT_DIRECTORY}/{query_response['QueryExecutionId']}.csv",
        temp_file_location,
    )
    return pd.read_csv(temp_file_location)

In [7]:
response = athena_client.start_query_execution(
    QueryString = "SELECT * FROM enigma_jhud",
    QueryExecutionContext = {
        "Database":SCHEMA_NAME
    },
    ResultConfiguration={
        "OutputLocation":S3_STAGING_DIR,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
    },  
)
df_data = download_and_load_query_results(athena_client, response)

In [8]:
response

{'QueryExecutionId': 'ee61341c-19d3-496d-be26-a7ddd089d295',
 'ResponseMetadata': {'RequestId': '1f6327bc-6727-4f81-abf0-21e8de77adb1',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Fri, 18 Aug 2023 08:55:28 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': '1f6327bc-6727-4f81-abf0-21e8de77adb1'},
  'RetryAttempts': 0}}

In [9]:
enigma_jhud = download_and_load_query_results(athena_client, response)

In [10]:
enigma_jhud.head()

,fips,admin2,province_state,country_region,last_update,latitude,longitude,confirmed,deaths,recovered,active,combined_key,partition_0
0,NaN,NaN,Anhui,China,2020-01-22T17:00:00,31.826,117.226,1.0,NaN,NaN,NaN,"""Anhui",csv
1,NaN,NaN,Beijing,China,2020-01-22T17:00:00,40.182,116.414,14.0,NaN,NaN,NaN,"""Beijing",csv
2,NaN,NaN,Chongqing,China,2020-01-22T17:00:00,30.057,107.874,6.0,NaN,NaN,NaN,"""Chongqing",csv
3,NaN,NaN,Fujian,China,2020-01-22T17:00:00,26.079,117.987,1.0,NaN,NaN,NaN,"""Fujian",csv
4,NaN,NaN,Gansu,China,2020-01-22T17:00:00,36.061,103.834,NaN,NaN,NaN,NaN,"""Gansu",csv

In [11]:
response = athena_client.start_query_execution(
    QueryString = 'SELECT * FROM "nytimes_data_in_usa_ us_county"',
    QueryExecutionContext = {
        "Database":SCHEMA_NAME
    },
    ResultConfiguration={
        "OutputLocation":S3_STAGING_DIR,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
    },  
)
nytimes_data_in_usa_us_county = download_and_load_query_results(athena_client, response)

In [12]:
response = athena_client.start_query_execution(
    QueryString = 'SELECT * FROM "nytimes_data_in_usa_ us_states"',
    QueryExecutionContext = {
        "Database":SCHEMA_NAME
    },
    ResultConfiguration={
        "OutputLocation":S3_STAGING_DIR,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
    },  
)
nytimes_data_in_usa_us_states = download_and_load_query_results(athena_client, response)

In [13]:
response = athena_client.start_query_execution(
    QueryString = 'SELECT * FROM rearc_covid_19_testing_data_states_daily',
    QueryExecutionContext = {
        "Database":SCHEMA_NAME
    },
    ResultConfiguration={
        "OutputLocation":S3_STAGING_DIR,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
    },  
)
rearc_covid_19_testing_data_states_daily = download_and_load_query_results(athena_client, response)

In [14]:
response = athena_client.start_query_execution(
    QueryString = 'SELECT * FROM rearc_covid_19_testing_data_us_daily',
    QueryExecutionContext = {
        "Database":SCHEMA_NAME
    },
    ResultConfiguration={
        "OutputLocation":S3_STAGING_DIR,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
    },  
)
rearc_covid_19_testing_data_us_daily = download_and_load_query_results(athena_client, response)

In [15]:
response = athena_client.start_query_execution(
    QueryString = 'SELECT * FROM rearc_covid_19_testing_data_us_total_latest',
    QueryExecutionContext = {
        "Database":SCHEMA_NAME
    },
    ResultConfiguration={
        "OutputLocation":S3_STAGING_DIR,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
    },  
)
rearc_covid_19_testing_data_us_total_latest = download_and_load_query_results(athena_client, response)

In [16]:
response = athena_client.start_query_execution(
    QueryString = 'SELECT * FROM rearc_usa_hospital_beds',
    QueryExecutionContext = {
        "Database":SCHEMA_NAME
    },
    ResultConfiguration={
        "OutputLocation":S3_STAGING_DIR,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
    },  
)
rearc_usa_hospital_beds = download_and_load_query_results(athena_client, response)

In [17]:
response = athena_client.start_query_execution(
    QueryString = 'SELECT * FROM static_datasets_countrycode',
    QueryExecutionContext = {
        "Database":SCHEMA_NAME
    },
    ResultConfiguration={
        "OutputLocation":S3_STAGING_DIR,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
    },  
)
static_datasets_countrycode = download_and_load_query_results(athena_client, response)

In [18]:
response = athena_client.start_query_execution(
    QueryString = 'SELECT * FROM static_datasets_countypopulation',
    QueryExecutionContext = {
        "Database":SCHEMA_NAME
    },
    ResultConfiguration={
        "OutputLocation":S3_STAGING_DIR,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
    },  
)
static_datasets_countypopulation = download_and_load_query_results(athena_client, response)

In [19]:
response = athena_client.start_query_execution(
    QueryString = 'SELECT * FROM static_datasets_state_abv',
    QueryExecutionContext = {
        "Database":SCHEMA_NAME
    },
    ResultConfiguration={
        "OutputLocation":S3_STAGING_DIR,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
    },  
)
static_datasets_state_abv = download_and_load_query_results(athena_client, response)

In [20]:
new_header = static_datasets_state_abv.iloc[0]
static_datasets_state_abv = static_datasets_state_abv[1:]
static_datasets_state_abv.columns = new_header

In [21]:
static_datasets_state_abv.head()

0       State Abbreviation
1     Alabama           AL
2      Alaska           AK
3     Arizona           AZ
4    Arkansas           AR
5  California           CA

### Creating Diemension model
#### factCovid

In [22]:
factCovid_1 = enigma_jhud[['fips','province_state','country_region','confirmed','deaths','recovered','active']]
factCovid_2 = rearc_covid_19_testing_data_states_daily[['fips','date','positive','negative','hospitalizedcurrently','hospitalized','hospitalizeddischarged']]

In [23]:
factCovid = pd.merge(factCovid_1, factCovid_2, on='fips', how='inner')

In [24]:
factCovid.head()

,fips,province_state,country_region,confirmed,deaths,recovered,active,date,positive,negative,hospitalizedcurrently,hospitalized,hospitalizeddischarged
0,NaN,Anhui,China,1.0,NaN,NaN,NaN,20210119,289939,NaN,1066.0,NaN,NaN
1,NaN,Beijing,China,14.0,NaN,NaN,NaN,20210119,289939,NaN,1066.0,NaN,NaN
2,NaN,Chongqing,China,6.0,NaN,NaN,NaN,20210119,289939,NaN,1066.0,NaN,NaN
3,NaN,Fujian,China,1.0,NaN,NaN,NaN,20210119,289939,NaN,1066.0,NaN,NaN
4,NaN,Gansu,China,NaN,NaN,NaN,NaN,20210119,289939,NaN,1066.0,NaN,NaN

#### dimRegion

In [25]:
dimRegion_1 = enigma_jhud[['fips','province_state','country_region','latitude','longitude']]
dimRegion_2 = nytimes_data_in_usa_us_county[['fips','county', 'state']]
dimRegion = pd.merge(dimRegion_1, dimRegion_2, on='fips', how='inner')

In [26]:
dimRegion.head()

,fips,province_state,country_region,latitude,longitude,county,state
0,NaN,Anhui,China,31.826,117.226,New York City,New York
1,NaN,Anhui,China,31.826,117.226,Unknown,Rhode Island
2,NaN,Anhui,China,31.826,117.226,New York City,New York
3,NaN,Anhui,China,31.826,117.226,Unknown,Rhode Island
4,NaN,Anhui,China,31.826,117.226,New York City,New York

#### dimHospital dimDate

In [27]:
rearc_usa_hospital_beds.columns

Index(['objectid', 'hospital_name', 'hospital_type', 'hq_address',
       'hq_address1', 'hq_city', 'hq_state', 'hq_zip_code', 'county_name',
       'state_name', 'state_fips', 'cnty_fips', 'fips', 'num_licensed_beds',
       'num_staffed_beds', 'num_icu_beds', 'adult_icu_beds', 'pedi_icu_beds',
       'bed_utilization', 'avg_ventilator_usage',
       'potential_increase_in_bed_capac', 'latitude', 'longtitude'],
      dtype='object')

In [28]:
dimHospital = rearc_usa_hospital_beds[['fips','state_name','latitude','longtitude','hq_address','hospital_name','hospital_type','hq_city','hq_state']]

In [29]:
dimHospital.head(2)

,fips,state_name,latitude,longtitude,hq_address,hospital_name,hospital_type,hq_city,hq_state
0,4013.0,Arizona,33.495498,-112.066157,650 E Indian School Rd,Phoenix VA Health Care System (AKA Carl T Hayd...,VA Hospital,Phoenix,AZ
1,4019.0,Arizona,32.181263,-110.965885,3601 S 6th Ave,Southern Arizona VA Health Care System,VA Hospital,Tucson,AZ

In [30]:
dimDate = rearc_covid_19_testing_data_states_daily[['fips','date']]

In [31]:
dimDate.head()

   fips      date
0   2.0  20210307
1   1.0  20210307
2   5.0  20210307
3  60.0  20210307
4   4.0  20210307

In [32]:
dimDate['date'] = pd.to_datetime(dimDate['date'], format='%Y%m%d')

C:\Users\Ath\AppData\Local\Temp\ipykernel_33088\572748324.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['date'] = pd.to_datetime(dimDate['date'], format='%Y%m%d')

In [33]:
dimDate['year'] = dimDate['date'].dt.year
dimDate['month'] = dimDate['date'].dt.month
dimDate['day_of_week'] = dimDate['date'].dt.dayofweek

C:\Users\Ath\AppData\Local\Temp\ipykernel_33088\935310350.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['year'] = dimDate['date'].dt.year
C:\Users\Ath\AppData\Local\Temp\ipykernel_33088\935310350.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['month'] = dimDate['date'].dt.month
C:\Users\Ath\AppData\Local\Temp\ipykernel_33088\935310350.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['day_of_week'] = dimDate['date'].dt.dayofweek

In [34]:
dimDate.head()

   fips       date  year  month  day_of_week
0   2.0 2021-03-07  2021      3            6
1   1.0 2021-03-07  2021      3            6
2   5.0 2021-03-07  2021      3            6
3  60.0 2021-03-07  2021      3            6
4   4.0 2021-03-07  2021      3            6

### Upload dim data onto S3

In [39]:
bucket = "ath-covid-de-project"

In [59]:
# Make sure to clear buffer
csv_buffer = StringIO()

In [44]:
factCovid.to_csv(csv_buffer)
s3_resource = boto3.resource("s3", aws_access_key_id=AWS_ACCESS_KEY, aws_secret_access_key=AWS_SECRET_KEY, region_name=AWS_REGION)
s3_resource.Object(bucket, "output/factCovid.csv").put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': '10H9WQSHQ594EGYA',
  'HostId': 'aL5zKqyA1HIcmp3STJGjh2kOslg2x8YazXQjkNc28W+EcYTnQd6b4Do1cUMVUBzMloWP9MEYF6g=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'aL5zKqyA1HIcmp3STJGjh2kOslg2x8YazXQjkNc28W+EcYTnQd6b4Do1cUMVUBzMloWP9MEYF6g=',
   'x-amz-request-id': '10H9WQSHQ594EGYA',
   'date': 'Thu, 17 Aug 2023 10:24:04 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"a4c97148ec2c2e685ccfab2a3e041001"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"a4c97148ec2c2e685ccfab2a3e041001"',
 'ServerSideEncryption': 'AES256'}

In [58]:
dimRegion.to_csv(csv_buffer)
s3_resource = boto3.resource("s3", aws_access_key_id=AWS_ACCESS_KEY, aws_secret_access_key=AWS_SECRET_KEY, region_name=AWS_REGION)
s3_resource.Object(bucket, "output/dimRegion.csv").put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'X0EM0S38SRRNPGKD',
  'HostId': 'Yid6SEh6m+gJMmUlvFHZpvfqtkTYGf7/RU6huBfM3oV/D7del2oBTptdPg6RfugqyuP2gX9q4+g=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'Yid6SEh6m+gJMmUlvFHZpvfqtkTYGf7/RU6huBfM3oV/D7del2oBTptdPg6RfugqyuP2gX9q4+g=',
   'x-amz-request-id': 'X0EM0S38SRRNPGKD',
   'date': 'Thu, 17 Aug 2023 10:35:33 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"2fdf65265c31f0f6e8c02b4bd066d670"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"2fdf65265c31f0f6e8c02b4bd066d670"',
 'ServerSideEncryption': 'AES256'}

In [50]:
dimDate.to_csv(csv_buffer)
s3_resource = boto3.resource("s3", aws_access_key_id=AWS_ACCESS_KEY, aws_secret_access_key=AWS_SECRET_KEY, region_name=AWS_REGION)
s3_resource.Object(bucket, "output/dimDate.csv").put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': '4GF0ZBZ75MR0PF10',
  'HostId': 'BPd+MgUqBF3XmU8+q/7ygpWI/GZk33UxJmZkmevDZ9lJ89k/rlj3QIEP//hOlZ/e8gtZ1gqGCjQ=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'BPd+MgUqBF3XmU8+q/7ygpWI/GZk33UxJmZkmevDZ9lJ89k/rlj3QIEP//hOlZ/e8gtZ1gqGCjQ=',
   'x-amz-request-id': '4GF0ZBZ75MR0PF10',
   'date': 'Thu, 17 Aug 2023 10:33:54 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"19eb0b77e7f7441c686829bc3fd1a906"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"19eb0b77e7f7441c686829bc3fd1a906"',
 'ServerSideEncryption': 'AES256'}

In [54]:
dimHospital.to_csv(csv_buffer)
s3_resource = boto3.resource("s3", aws_access_key_id=AWS_ACCESS_KEY, aws_secret_access_key=AWS_SECRET_KEY, region_name=AWS_REGION)
s3_resource.Object(bucket, "output/dimHospital.csv").put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'N85SBQWHZ4387JQ2',
  'HostId': 'FR+HcvGGjvOy5w3jrRlcU5j6J0lGj6XUGWg/rTfQ3SoAr/36IZYR3RIkg/tfc/trREUKxGTpPNU=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'FR+HcvGGjvOy5w3jrRlcU5j6J0lGj6XUGWg/rTfQ3SoAr/36IZYR3RIkg/tfc/trREUKxGTpPNU=',
   'x-amz-request-id': 'N85SBQWHZ4387JQ2',
   'date': 'Thu, 17 Aug 2023 10:34:15 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"a26c4e35d128fe6f64955ba9aac1d221"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"a26c4e35d128fe6f64955ba9aac1d221"',
 'ServerSideEncryption': 'AES256'}

#### Create tables in redshit

In [ ]:
# only for referecne. actual done with glue jobs

In [36]:
dimDatesql = pd.io.sql.get_schema(dimDate.reset_index(), 'dimDate')
print(''.join(dimDatesql))

CREATE TABLE "dimDate" (
"index" INTEGER,
  "fips" REAL,
  "date" TIMESTAMP,
  "year" INTEGER,
  "month" INTEGER,
  "day_of_week" INTEGER
)

In [37]:
dimHospitalsql = pd.io.sql.get_schema(dimHospital.reset_index(), 'dimHospital')
print(''.join(dimHospitalsql))

CREATE TABLE "dimHospital" (
"index" INTEGER,
  "fips" REAL,
  "state_name" TEXT,
  "latitude" REAL,
  "longtitude" REAL,
  "hq_address" TEXT,
  "hospital_name" TEXT,
  "hospital_type" TEXT,
  "hq_city" TEXT,
  "hq_state" TEXT
)

In [38]:
factCovidsql = pd.io.sql.get_schema(factCovid.reset_index(), 'factCovid')
print(''.join(factCovidsql))

CREATE TABLE "factCovid" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "confirmed" REAL,
  "deaths" REAL,
  "recovered" REAL,
  "active" REAL,
  "date" INTEGER,
  "positive" INTEGER,
  "negative" REAL,
  "hospitalizedcurrently" REAL,
  "hospitalized" REAL,
  "hospitalizeddischarged" REAL
)

In [39]:
dimRegionsql = pd.io.sql.get_schema(dimRegion.reset_index(), 'dimRegion')
print(''.join(dimRegionsql))

CREATE TABLE "dimRegion" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "latitude" REAL,
  "longitude" REAL,
  "county" TEXT,
  "state" TEXT
)

In [1]:
import redshift_connector

In [2]:
conn = redshift_connector.connect(
    host="redshift-cluster-1.c6hyahorsvry.ap-south-1.redshift.amazonaws.com",
    database="dev",
    user="awsuser",
    password="rDAtharva123"
)

In [3]:
conn.autocommit = True

In [4]:
cursor = redshift_connector.Cursor = conn.cursor()

In [54]:
cursor.execute("""
CREATE TABLE "dimDate" (
"index" INTEGER,
  "fips" REAL,
  "date" TIMESTAMP,
  "year" INTEGER,
  "month" INTEGER,
  "day_of_week" INTEGER
)
""")

In [55]:
cursor.execute("""
CREATE TABLE "dimHospital" (
"index" INTEGER,
  "fips" REAL,
  "state_name" TEXT,
  "latitude" REAL,
  "longtitude" REAL,
  "hq_address" TEXT,
  "hospital_name" TEXT,
  "hospital_type" TEXT,
  "hq_city" TEXT,
  "hq_state" TEXT
)
""")

cursor.execute("""
CREATE TABLE "factCovid" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "confirmed" REAL,
  "deaths" REAL,
  "recovered" REAL,
  "active" REAL,
  "date" INTEGER,
  "positive" INTEGER,
  "negative" REAL,
  "hospitalizedcurrently" REAL,
  "hospitalized" REAL,
  "hospitalizeddischarged" REAL
)
""")

cursor.execute("""
CREATE TABLE "dimRegion" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "latitude" REAL,
  "longitude" REAL,
  "county" TEXT,
  "state" TEXT
)
""")

##### Copy data from s3 to redhsift

In [ ]:
# only for referecne. actual done with glue jobs

In [56]:
cursor.execute("""
copy dimDate from 's3://ath-covid-de-project/output/dimDate.csv'
credentials 'aws_access_key_id=AKIA5LPLVSFJOFGPZO6T;aws_secret_access_key=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'
delimiter ','
region 'ap-south-1'
IGNOREHEADER 1
""")

In [ ]:

cursor.execute("""
copy dimHospital from 's3://ath-covid-de-project/output/dimHospital.csv'
credentials 'aws_access_key_id=AKIA5LPLVSFJOFGPZO6T;aws_secret_access_key=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'
delimiter ','
region 'ap-south-1'
IGNOREHEADER 1
""")

In [8]:
cursor.execute("""
copy factCovid from 's3://ath-covid-de-project/output/factCovid.csv'
credentials 'aws_access_key_id=AKIA5LPLVSFJOFGPZO6T;aws_secret_access_key=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'
delimiter ','
region 'ap-south-1'
IGNOREHEADER 1
MAXERROR 10
STATUPDATE ON
""")

In [9]:

cursor.execute("""
copy dimRegion from 's3://ath-covid-de-project/output/dimRegion.csv'
credentials 'aws_access_key_id=AKIA5LPLVSFJOFGPZO6T;aws_secret_access_key=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'
delimiter ','
region 'ap-south-1'
IGNOREHEADER 1
MAXERROR 10
STATUPDATE ON
""")